// Typography
$font-size: 12px !default;
$leading: 1.5em !default; // A leading that doesn't result in whole number multiples of the font size will result in an irregular baseline grid due to how browsers render decimal pixel values calculated from ems. Unless no multiples of the leading are used.

// Layout
$gutter: 1em !default;
$unit-gutters: 4 !default;
$column-units: 2 !default;
$margin: $leading * 2 $gutter * 2 !default;

// Calculated
$unit: $gutter * $unit-gutters !default;
$column: $unit * $column-units + $gutter * ($column-units - 1) !default;
