@import "settings";

body {
	font-size: $font-size;
	line-height: $leading;
}
@mixin header($ratio) {
	font-size: $ratio * 1em;
	line-height: $leading;
	margin-bottom: $leading / $ratio; // Gives a bottom margin equal to the leading of the body text
}
@mixin headerOffset($ratio, $offset) {
	@include header($ratio);
	margin-bottom: $leading / $ratio * $offset;
}
h1 {
	@include header(2);
}
h2 {
  	@include headerOffset(1.5, .5);
}
h3 {
	@include header(1);
}
p, ul, ol {
  	margin-bottom: $leading;
}
/*ul {
	list-style-type: disc;
	margin-left: @grid;
}
ol {
	list-style-type: decimal;
	margin-left: 21px;
}*/