body {
  font-size: 12px;
  line-height: 1.4em; }

h1 {
  font-size: 2em;
  line-height: 2.8em; }

h2 {
  font-size: 1.5em;
  line-height: 2.1em; }

h3 {
  font-size: 1em;
  line-height: 1.4em; }

p, h1, h2, ul, ol {
  margin-bottom: 1.4em; }

/*ul {
	list-style-type: disc;
	margin-left: @grid;
}
ol {
	list-style-type: decimal;
	margin-left: 21px;
}*/
body {
  padding: 2em 2.8em; }
