<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Raster Template</title>
	<link rel="stylesheet" href="raster.css" />
</head>
<body>

	<header role="banner">
		<h1>Raster Template</h1>
	</header>

	<section>
		<header>
			<h1>Getting Started</h1>
		</header>
		<ol>
			<li>Copy the files in this directory where you want to put your project</li>
			<li>Edit <code>raster.scss</code></li>
			<li>Compile Sass with <code>sass --update .</code></li>
			<li>Optionally reference the JavaScript for displaying the grid to the <code>&lt;head&gt;</code> tag (E.g., <code>&lt;script src=&quot;../js/raster.js&quot;&gt;&lt;/script&gt;</code>).
		</ol>
	</section>

	<footer>
		&copy;2012 1Percenter
	</footer>

<!-- 1P -->
</body>
</html>
