@import "../css/reset.scss";

$primer-ratio: 1.5;
$great-primer-ratio: 3.0;
$double-pica-ratio: 1.75;
//body {
//	font-size: 12px;
//	line-height: ;
//}

//$font-size: 16px !default;
//$body: 1em !default;
//
//html {
//	font-size: $font-size;
//}
//body {
//	font-size: $body;
//}


@mixin setup($font-size, $leading) {
	// Convert leading to to ems
	@if unit($leading) == "%" {
		$leading: $leading / 1% / 100 * 1em;
	} @else if unit($leading) == "px" {
		$leading: $leading / $font-size * 1em;
	}

	font-size: $font-size;
	line-height: $leading;
	p {
		margin-bottom: $leading;
	}
	h1 {
		font-size: 1em * $great-primer-ratio;
		line-height: $leading;
		margin-bottom: $leading / $great-primer-ratio;
	}
	h2 {
		font-size: 1em * $primer-ratio;
		line-height: $leading;
		margin-bottom: $leading / $primer-ratio * .5;
	}
	h3 {
		font-size: 1em * $double-pica-ratio;
		line-height: $leading;
//		margin-bottom: $leading / $double-pica-ratio * .25;
		$margin: $leading / $double-pica-ratio; // This is a margin the size of the leading
		$remainder: ceil($double-pica-ratio) - $double-pica-ratio; // But if there is a remainder we have to adjust for the missing portion in relation to the baseline
		@if $remainder > 0 {
			$margin: $margin * $remainder;
			@debug $margin;
		}
//		@debug ceil($double-pica-ratio) - $double-pica-ratio;
	}
}

//@mixin header($ratio) {
//	font-size: 1em * $ratio;
//	margin-bottom: $leading / $great-primer-ratio;
//}

.em {
	@include setup(.75em, 1.333em);
}

.percent {
	@include setup(75%, 134%);
}

.pixels {
	@include setup(12px, 16px);
}