@import "../css/reset.scss";

$primer-ratio: 1.5;
$great-primer-ratio: 3.0;

//body {
//	font-size: 12px;
//	line-height: ;
//}

//$font-size: 16px !default;
//$body: 1em !default;
//
//html {
//	font-size: $font-size;
//}
//body {
//	font-size: $body;
//}

@mixin setup($font-size, $leading) {
	@if unit($leading) == "%" {
		// Convert leading to to ems
		$leading: $leading / 1% / 100 * 1em;
	}
	font-size: $font-size;
	line-height: $leading;
	h1 {
		font-size: 1em * $great-primer-ratio;
		@if unit($leading) == px {
			line-height: $leading * $great-primer-ratio;
			margin-bottom: $leading;
		} 
		@else {
       	 	line-height: $leading; 
			margin-bottom: $leading / $great-primer-ratio;
   		}
	}
}

.em {
	@include setup(.75em, 1.333em);
}

.percent {
	@include setup(75%, 134%);
}

.pixels {
	@include setup(12px, 16px);
}