doctype html
html(lang="en")
  title= "Basic"
  include ./includes/head
  script(src='../../lib/tests/test-basic2.js')
  link(rel='stylesheet', href='../css/test-basic2.css')
body
  h1#test-header A Test Header
  include ./includes/mocha
