doctype html
html(lang="en")
  title= "Default"
  include ./includes/head
  script(src='../../lib/tests/test-default.js')
  link(rel='stylesheet', href='../css/test-default.css')
body
  include ./includes/content
  include ./includes/mocha
