doctype html
html(lang="en")
  title= "Custom"
  include ./includes/head
  script(src='../../lib/tests/test-custom.js')
  script(src='../../../dist/raster.js')
  link(rel='stylesheet', href='../css/test-custom.css')
body.baseline
  include ./includes/content
  include ./includes/mocha
