doctype html
html(lang="en")
  title= "Basic"
  include ./includes/head
  script(src='../../lib/test-basic.js')
  link(rel='stylesheet', href='../css/test-basic.scss')
body
  h1 A Test
  include ./includes/mocha
