article#layout.show-guidelines.width-three-columns
  div.indent-one-gutter.indent.gutters 1
  div.indent-one-unit.indent.units 1
  div.indent-one-column.indent.columns 1
  //- div.width-one-column.columns 1
  //- div.width-two-columns.columns 2
