article#layout.raster-show-guidelines.width-three-columns
  div.indent-one-gutter.indent.gutters 1
  div.indent-one-unit.indent.units 1
  div.indent-one-column.indent.columns 1
  div.indent-two-gutter.indent.gutters 2
  div.indent-two-unit.indent.units 2
  div.indent-two-column.indent.columns 2
  div.indent-three-gutter.indent.gutters 3
  div.indent-three-unit.indent.units 3
  div.indent-three-column.indent.columns 3
