doctype html
html(lang="en")
  title= "Default"
  include ./includes/head
  script(src='../../lib/tests/test-default.js')
  script(src='../../../dist/js/cyclist-grid.js')
  link(rel='stylesheet', href='../css/test-default.css')
body.cyclist-show-baseline
  include ./includes/content
  include ./includes/mocha
