$font-size: 12px;
$line-height: 17px;

@import '../../../dist/raster';

#container {
  margin: 0 auto;
  padding: ($leading-height * 3) 0;
  width: $column-width * 4;
}

// TODO: Delete this, move to Raster

// #container {
//   position: relative;
// }

.test-raster-guidelines {
  position: absolute;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: stretch;
  align-content: stretch;
  height: 800px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

}

.test-raster-guidelines > div.test-raster-column {
  // border-bottom-color: rgb(0, 0, 0);

  background-color: rgba(148, 235, 255, .25);
  // background-color: #00f;

  display: -webkit-flex;
  display: flex;
  -webkit-align-content: stretch;
  align-content: stretch;
  margin-right: $gutter-width;
  -webkit-flex: 0 0 $column-width;
  flex: 0 0 $column-width;
}

.test-raster-guidelines > div.test-raster-column:last-child {
  margin-right: 0;
}

.test-raster-column > div.test-raster-unit {
  background-color: rgba(148, 235, 255, .25);
  margin-right: $gutter-width;
  -webkit-flex: 0 0 $unit-width;
  flex: 0 0 $unit-width;
}

.test-raster-column > div.test-raster-unit:last-child {
  margin-right: 0;
}
