$font-size: 12px;
$line-height: 17px;

@import '../../../dist/scss/cyclist';

#container {
  margin: 0 auto;
  padding: $leading-height 0;
  width: columns-width(4);
}

nav {
  margin-bottom: $leading-height;
  position: relative;
  z-index: 1;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  text-align: center;
}

nav ul li {
  list-style: none;
  flex-grow: 1;
}